*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body{
	background-color:#fff ;/* #f5f5f5 */
}

.top{
	width: 100%
	height:27px;
	background: rgba(0, 0, 0, 0) url("../images/top_bg.jpg") repeat-x scroll 0 0;
}

.top_content{
	width: 1000px;
	margin: 0 auto;
	line-height: 27px;
}

.top_content li{
	float: right;
	width: 70px;
	list-style-image: url("../images/arrow.jpg");
	margin-right: 15px;

}

.top_content div{
	clear: both;
}

.top_content a:link,.top_content a:visited{
	text-decoration:none;
	color: #8e8e8e;
}

.top_content a:hover,.top_content a:active{
	color: #c00;
    text-decoration: none;
}

.wrap{
	margin: 0 auto;
}

.logo{
	background-color: #FFF;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	
}

.logo_left{
	display: inline;
	float: left;
	width: 375px;
}

.logo_left img{
	height: 80px;
}
.logo_right{
	display: inline;
	float: right;
	font-size: 16px;
	height: 28px;
    margin-top: 30px;
    width: 300px;
    font-family: Helvetica, Tahoma, Arial;
}

.logo_right img{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 10px;
}

.logo_right span{
	color: #3399cc;
	vertical-align: middle;
	font-size: 22px;
}

.nav{
	background-color: #3399CC;
	height: 40px;
}

.nav ul{
	margin: 0 auto;
	width: 1000px;
}
.nav li {
	float: left;
	line-height: 40px;
	list-style-type: none;
	text-align: center;
	width: 220px;
}

.nav a:link, .nav a:visited{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	text-decoration: none;
}

/* .nav a:hover, .nav a:active{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	text-decoration: none;
} */

.nav a:hover {
	font-weight:800;
}

.middle{
	width: 100%;
	height: 400px;
	background-image:url("../images/img_bg.png");
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;

}



.middle_left{
	width: 70%;
	float: left; 
	position: relative;
}

.tap{
	position: absolute;
	top:20px;
	left: 90px;
}
.ad{
	/* float: right; */
	height: 316px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top:30px;
}


.middle_right{
	width: 30%;
	float: left;
}

.main{
	background-color: #8899cc;  /* using other color  */
	overflow: hidden;
}

.introduce{
	float: left;
	width: 900px;
	position: relative;
	color:white;
}

.introduce h2{
	font-size: 32px;	
	padding-top: 25px;
	padding-left: 20px;
}

.introduce h3{
	font-size: 22px;
	position: absolute;
	top: 70px;
	right: 0;
	font-style: italic;
}

.intro_detail{
	width: 800px;
	height: 40px;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 18px;
}
.service_intro{
	float: right;
	color: white;
}

.service_intro h2{
	font-size:28px;
	padding-right: 100px;
	padding-top: 20px;
}

.service_intro ul{
	margin-top: 10px;
}
.service_intro li{
	padding-top: 5px;
	padding-left: 5px;
	font-size: 16px;
	font-style: italic;
}

.footer{
	background-color: blue;
	color: white;
	
}

.copyright{
	width: 500px;
	margin:0 auto;
}